{% extends "base.html" %}

{% block content %}
<hr>
<hr>

<h2 class="heading"> {{pesme|length}} Songs in playlist '{{lista}}': </h2>
<a href="{{url_for('pronadji_pesmu', playlist_id=playlist_id)}}" class="button"> Dodaj pesmu</a>

{% for item in pesme %}
<div class="container">
    <div class="pesmePodaci">
    <h5><a href="{{item['track']['external_urls']['spotify']}}" target="_blank" rel="nofollow"> Song {{loop.index}}. {{item['track']['name']}}</a> </h5>
    <hr>
    <h5><a href="{{item['track']['artists'][0]['external_urls']['spotify']}} " target="_blank" rel="nofollow"> Artist {{item['track']['artists'][0]['name']}}</a></h5>

    <h5><a href="{{item['track']['album']['external_urls']['spotify']}}" target="_blank" rel="nofollow">Album name: {{item['track']['album']['name']}}</a></h5>
        </div>
    <div class="playListe svePesme" style="background-image: url('{{item['track']['album']['images'][1]['url']}}')">
<!--        <a href="{{item['track']['href']}}" class="button"> Link autentif</a>-->
        <a href="{{item['track']['external_urls']['spotify']}}" class="button" target="_blank" rel="nofollow"> Pusti</a>
<!--        <a href="{{item['track']['preview_url']}}" class="button"> Pesma deo</a>-->
         <hr class="heading">
        <a href="{{ url_for('obrisi_pesmu', playlist_id=playlist_id, playlist_name=lista, song_id=item['track']['id']) }}" class="button delete-button"> Obrisi </a>

        <a href="{{ url_for('premesti_pesmu', range_start=loop.index, playlist_id=playlist_id, playlist_name=lista )}}" class="button delete-button"> Premesti</a>


    </div>
    <hr class="heading">
    </div>
{% endfor %}
{% endblock %}

{% include "footer.html" %}


