{% extends "base.html" %}

{% block content %}
<hr>
<hr>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {% if category == 'success' %}alert-success{% else %}alert-danger{% endif %} alert-dismissible fade show"
         role="alert">
        <p class="mb-0">{{ message | safe }}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

<h2 class="heading"> {{pesme|length}} Songs in playlist '{{lista}}': </h2>
<a href="{{url_for('pronadji_pesmu', playlist_id=playlist_id)}}" class="button"> Dodaj pesmu</a>

<div id="playlist">
  <ol>
      {% for item in pesme %}
    <li>
      <div class="song">
        <img src="{{item['track']['album']['images'][1]['url']}}" alt="Album cover">
        <div class="song-details">
          <h3>{{item['track']['name']}}</h3>
          <p>{{item['track']['artists'][0]['name']}}</p>
          <p>{{item['track']['album']['name']}}</p>
        </div>
        <div class="song-buttons">
          <a href="{{item['track']['external_urls']['spotify']}}" class="button" target="_blank" rel="nofollow" class="play-button">▶️</a>
          <a href="#" class="lyrics-button">Lyrics</a>

          <a href="{{ url_for('premesti_pesmu', range_start=loop.index, playlist_id=playlist_id, playlist_name=lista )}}" class="lyrics-button"> Premesti</a>

          <a href="{{ url_for('obrisi_pesmu', playlist_id=playlist_id, playlist_name=lista, song_id=item['track']['id']) }}" class="play-button delete-gpt-button">✘️</a>

        </div>
      </div>
    </li>
    <!-- Repeat for each song -->
      {% endfor %}
  </ol>
</div>




{% endblock %}

{% include "footer.html" %}


