{% extends "base.html" %}

{% block content %}
<hr>
<hr>
<h5>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {% if category == 'success' %}alert-success{% else %}alert-danger{% endif %} alert-dismissible fade show"
         role="alert">
        <p class="mb-0">{{ message | safe }}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</h5>


<h2 class="heading">Play liste su: </h2>
<a href="{{url_for('pronadji_pesme_i_napravi_listu')}}" class="button"> Ddoaj listu</a>
<a href="{{url_for('forma_pretraga')}}" class="button"> Forma</a>

{% for item, value in liste.items() %}
{% set cover_url = playlist_cover_image(value) %}
<div class="container">

    <div>
        <div> <h3>
            {{loop.index}}. Playlista {{item}}</h3></div>

    <div class="playListe" style="background-image: url('{{ cover_url }}')">
        <a href="{{url_for('prikazi_pesme_sa_playliste', playlist_name=item, playlist_id=value)}}" class="button">Pesme</a>
        <h1></h1>
        <div class="content">

            <form method="POST" action="{{ url_for('obrisati_listu') }}">
                <input type="hidden" name="lista_za_brisanje" value="{{ value }}">
                <button type="submit" class="button delete-button"><a href="#">Obrisi listu</a></button>
            </form>
        </div></div>

    </div>
    <hr class="heading">

    <!--		<div class="right-side">-->

    <!--    <img src="{{ cover_url }}" alt="Playlist Cover">-->
    <!--		</div>-->
</div>

{% endfor %}
{% endblock %}

{% include "footer.html" %}


