{% extends "base.html" %}

{% block content %}
<hr>
<hr>
<h5>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {% if category == 'success' %}alert-success{% else %}alert-danger{% endif %} alert-dismissible fade show"
         role="alert">
        <p class="mb-0">{{ message | safe }}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</h5>
<h2 class="heading"> {{pesme|length}} Songs in playlist : </h2>
{% if pronadji_pesmu: %}
<a href="{{url_for('pronadji_pesmu', playlist_id=playlist_id, pronadji_pesmu=pronadji_pesmu)}}" class="button"> Pronadji Pesmu</a>
{% endif %}
<hr class="heading">
 {% if top100: %}
<h4> 'BILLBOARD HOT 100 LIST' za datum {{ datum }} možete pogledati na web stranici <a href="{{billboard_url}}" target="_blank" rel="nofollow">billboard_url</a></h4>
<form method="POST" action="{{ url_for('obrada_rezultata_top100_i_kreiranje_pl')}}">
    <input type="hidden" name="pesme[]" value="{{ pesme}}">
    <input type="hidden" name="dat" value="{{ datum}}">
  <input type="submit" value="Kreiraj PL i dodaj pesme" class="button">
</form>
{% endif %}

<div id="playlist">
  <ol>
      {% for item in pesme %}
    <li>
      <div class="song">
        <img src="{{item['album']['images'][1]['url']}}" alt="Album cover">
        <div class="song-details">
          <h3>{{item['name']}}</h3>
          <p>{{item['artists'][0]['name']}}</p>
          <p>{{item['album']['name']}}</p>
        </div>
        <div class="song-buttons">
          <a href="{{item['external_urls']['spotify']}}" class="play-button play-gpt-button" target="_blank" rel="nofollow" >▶️</a>
            {% if pronadji_pesmu: %}
            <a href="{{ url_for('dodaj_pesmu', playlist_id=playlist_id, playlist_name=lista, song_uri=item['uri'], pronadji_pesmu=pronadji_pesmu )}}" class="play-button play-gpt-button" target="_blank" rel="nofollow">➕</a>
            {% endif %}
          <a href="#" class="lyrics-button">Lyrics</a>
            {% if top100: %}
          <a href="{{ url_for('obrada_rezultata_top100_i_kreiranje_pl', range_start=loop.index, izvrsi_premestanje_na_prvu_poziciju='DA' )}}" class="lyrics-button"> Premesti</a>

          <a href="{{ url_for('obrada_rezultata_top100_i_kreiranje_pl', range_start=loop.index )}}" class="play-button delete-gpt-button">🗑️️</a>
            {% endif %}
<!--                 https://emojipedia.org/wastebasket/-->

        </div>
      </div>
    </li>
    <!-- Repeat for each song -->
      {% endfor %}
  </ol>
</div>

{% endblock %}

{% include "footer.html" %}


