{% extends "base.html" %}

{% block content %}
<hr>
<hr>
<h5>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert {% if category == 'success' %}alert-success{% else %}alert-danger{% endif %} alert-dismissible fade show"
         role="alert">
        <p class="mb-0">{{ message | safe }}</p>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

</h5>


<h2 class="heading">Imate ukupno {{liste|length}} playliste: </h2>
<a href="{{url_for('kreiraj_praznu_listu')}}" class="button"> Dodaj praznu listu</a>
<a href="{{url_for('forma_pretraga')}}" class="button"> Pretraži Billboard 100 liste</a>

<div id="playlist">
  <ol>
      {% for item, value in liste.items() %}
    <li>
      <div class="cover_lista song">
          {% set cover_url, duzina_liste  = playlist_cover_image(value) %}
          {% if cover_url %}
              <img src="{{ cover_url }}" alt="Album cover">
          {% else %}
              <img src="/static/images/lorenzo-spoleti-MlhJNEUQpBs-unsplash_small.jpg" alt="Default album cover">
          {% endif %}

        <div class="song-details">
          <h3>{{item}}</h3>
          <p>Broj pesama u listi je {{ duzina_liste  }}</p>

        </div>
        <div class="song-buttons">
          <a href="{{url_for('pronadji_pesmu', playlist_id=value)}}" class="play-button play-gpt-button" target="_blank" rel="nofollow">➕ SONG</a>
          <a href="{{url_for('prikazi_pesme_sa_playliste', playlist_name=item, playlist_id=value)}}" class="lyrics-button">All Songs</a>
          <a href="{{ url_for('obrisati_listu', lista_za_brisanje_id=value) }}" class="play-button delete-gpt-button">🗑️</a>
<!--            https://emojipedia.org/wastebasket/-->

        </div>
      </div>
    </li>
    <!-- Repeat for each song -->
      {% endfor %}
  </ol>
</div>

{% endblock %}

{% include "footer.html" %}


